<div class="container">
    <mat-toolbar>
        <span>REPRESENTANTES</span>
        <div class="example-spacer"></div>
        <button mat-fab color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>




    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon style="cursor: pointer;" (click)="openDialog(element)">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
        (page)="pageEvent = paginate($event)" class="mat-elevation-z8"></mat-paginator>
</div>