
<mat-toolbar color="primary">
    <span>SOFFTEK-PRUEBA</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Mis notas</button>
    <button mat-button routerLink="/dashboard/empresas">Empresas</button>
    <button mat-button routerLink="/dashboard/representantes">Representantes</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>