<div class="body">

    <div class="login">
        <img [src]="logo" alt="" width="50%" height="80%">
        <h1 class="h3 mb-3 fw-normal">Registro</h1>
        <mat-form-field class="ancho" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <br>
          <button class="ancho" mat-raised-button mat-button color="primary">Registrarse</button>
          <p>o</p>
          <button class="ancho" mat-raised-button mat-button color="accent" routerLink="/login">Login</button>
    </div>
</div>